:root {
    --bg-color: hsl(49 37% 94%);
    --typewriterSpeed: 6s;
    --typewriterCharacters: 26;
  }
  
  body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    min-height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
    background: var(--bg-color);
  }
  
  h1 {
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    position: relative;
    font-family: "Source Code Pro", monospace;
    position: relative;
  }
  
  h1::before,
  h1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  h1::before {
    background: var(--bg-color);
    animation: typewriter var(--typewriterSpeed)
      steps(26) 1s forwards;
  }
  
  h1::after {
    width: 0.125em;
    background: black;
    animation: 
      typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards,
      superblink 750ms steps(var(--typewriterCharacters)) infinite;
  }
  
  .subtitle {
    color: hsl(0 0% 0% / 0.7);
    font-size: 2rem;
    font-weight: 400;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
  }
  
  ._desktop__menu-bar {
      -webkit-box-flex: 3;
      -ms-flex-positive: 3;
      flex-grow: 3;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 80px;
  
  }

  @keyframes typewriter {
    to {
      left: 100%;
    }
  }
  
  @keyframes superblink {
    to {
      background: transparent;
    }
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


#yt-link {
  position: absolute;
  bottom: 2em;
  width: 100%;
  color: hsl(0 0 0 / 0.7);
  }

  #yt-link:hover,
  #yt-link:focus {
    color: pink;
  }

  i{
    width:200%;
  }

  div.socials{
    display:flex;
    align-items:center;
  }
  div.social{
    display:inline-block;
  }